@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    background-color:#c9d3f5;
}

.title {
    margin-left: 88px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.row1 {
    display: flex;
    direction: row;
}

.row2 {
    display: flex;
    direction: row;
}

#heart-img {
    margin: 15px;
}

.heart {
    z-index : 999;
    position : absolute;
 }
 .heart:before,
 .heart:after {
    content : "";
    background-color : #faa09b;
    position : absolute;
    height : 30px;
    width : 45px;
    border-radius : 15px 0px 0px 15px;
 }
 .heart:before {
    transform : rotate(45deg);
 }
 .heart:after {
    left : 10.5px;
    transform : rotate(135deg);
 }